@import "../media";

.container {
    max-width: 1020px;
    width: 100%;
    margin: auto;
    padding: 26px 0;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageImage {
    @include mobile {
        width: 312px;
        height: 104px;
    }
}


// Inputs

.inputsContainer {
    padding: 16px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 540px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.select {
    padding: 16px 14px;
    border: 1px solid rgba($color: #000000, $alpha: 0.38);
    color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 8px;
}


// Cards

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 61px 0px 44px;

    @media screen and (max-width: 1060px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 545px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}